<!--{subtemplate common/header}-->
<!--[name]分类信息频道[/name]-->
<style id="diy_style" type="text/css"></style>
<link rel="stylesheet" href="template/zhikai_n5chengshiv6/portal/css/style.css">
<link rel="stylesheet" href="template/zhikai_n5chengshiv6/portal/css/flindex.css">
<div class="full">
<div class="body1000">
    <!--[diy=n5fenlei06]--><div id="n5fenlei06" class="area"></div><!--[/diy]-->
	<div class="clear5"></div>
	<div class="category_inner">
	    <div id="ni-flist">
			<div class="ni-flist1">
				<!--[diy=n5fenlei01]--><div id="n5fenlei01" class="area"></div><!--[/diy]-->
			</div>
	
			<div class="ni-flist2">
	            <!--[diy=n5fenlei02]--><div id="n5fenlei02" class="area"></div><!--[/diy]-->
			</div>
	
			<div class="ni-flist2">
	            <!--[diy=n5fenlei03]--><div id="n5fenlei03" class="area"></div><!--[/diy]-->					
			</div>
	
			<div class="ni-flist3">
				<!--[diy=n5fenlei04]--><div id="n5fenlei04" class="area"></div><!--[/diy]-->
			</div>
		</div>
	</div>
	
	<div class="clear"></div>
	<!--[diy=n5fenlei05]--><div id="n5fenlei05" class="area"></div><!--[/diy]-->
	<div class="clear"></div>
</div>
</div>
<!--{subtemplate common/footer}-->